<div>Total likes: {{ myLikes }}</div>

<div>
  My favorite dogs:
  <div *ngFor="let fav of favorites">
    {{ fav.name }}
  </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>Welcome to {{ title }}!</h1>
  <img
    width="600"
    alt="Gnarly Bull Dog"
    src="../assets/images/gnarly-bully.jpg"
  />
</div>

<div id="dogsDisplay" *ngFor="let dog of dogs">
  <div class="dog">
    <div class="dogName">{{ dog.name }}</div>
    <div class="dogImage"><img src="{{ dog.image }}" /></div>
    <div class="likeDisplay">
      <app-like-counter [dogId]="dog.id"></app-like-counter>
    </div>
    <button class="favButton" (click)="updateFavs(dog)">Favorite!</button>
    <!-- <div class="dogThumbnail"><img src='{{ dog.thumbnail }}' /></div> -->
  </div>
</div>
